/* Habitaciones.html y habitaciones(1,2,3,4,5,6,7 html) inicio */

#sechab1 {
	background: rgb(30, 30, 29);
}

#sechab3 {
	background: rgb(30, 30, 29);
}

#sechab1 h1 {
	color: #ffa5a5;
	font-size: 24px;
}

#cartahab1 {
	background-color: rgb(30, 30, 29)
}

#cartahab1 h5 {
	color: #ffa5a5;
	font-size: 24px;
}

#cartahab1 p {
	color: #fff;
	font-size: 20px;
}

#habitacion1carta {
	background: rgb(30, 30, 29);
}

#reserv {
	background: transparent;
	border: none;
	color: #fff;
	padding: 10px 30px;
	font-size: 15px;
	text-transform: uppercase;
	border-radius: 25px;
	display: inline-block;
	margin-top: 25px;
	border: 2px solid #e93636;
	transition: 2s ease-in;
}

#reserv:hover {
	background: #fcfcfc;
	color: #000000;
	transition: 1s ease-in;
}

#habitacion1carta h5 {
	color: #ffffff;
	font-size: 20px;
}

#habitacion1carta p {
	color: #fff;
	font-size: 18px;
}

#cartahab6 {
	background-color: rgb(30, 30, 29)
}

#cartahab6 h5 {
	color: #ffa5a5;
	font-size: 24px;
}

#cartahab6 p {
	color: #fff;
	font-size: 20px;
}

#footerhab {
	background-color: #1e1c1c;
}

#footerhab h5 {
	font-size: 38px;
	color: #ff7700;
}

#footerhab p {
	font-size: 20px;
	color: #ffffff;
}

/* Habitaciones.html y habitaciones(1,2,3,4,5,6,7 html) fin */