/* Fotos.html inicio */

#sec11foto {
	background: rgb(30, 30, 29);
}

#sec1foto {
	background-color: #3c2b34;
	background-image: linear-gradient(225deg, #382730 0%, #432f53 50%, #28333d 100%);
}

#sec1foto img {
	cursor: pointer;
}

#sec1foto h1 {
	color: #ffffff;
	font-size: 45px;
}

#gallery-modal .modal-img {
	width: 100%;
}

/* Fotos.html fin */