/*Seccion 0 Hotel.html inicio */

#sec0 {
	background: rgb(30, 29, 29);
}

#sec0-2 {
	background-color: rgb(30, 29, 29);
}

#carta0 {
	background-color: rgb(50, 45, 45);
}

#carta0 h5 {
	color: #9c2222;
	font-size: 38px;
}

#carta0 p {
	color: #ffffff;
	font-size: 24px;
}

/*Seccion 0 Hotel.html fin */