/*Seccion 1 Hotel.html inicio */

#sec1 {
	background: rgb(30, 30, 29);
}

#sec1 h1 {
	color: #ffffff;
	text-decoration: underline;
	font-size: 45px;
}

#carta1 {
	background-color: rgb(30, 30, 29);
	margin-top: 30px;
}

#carta1 h5 {
	color: #ffffff;
	font-size: 26px;
}

#carta1 p {
	color: #fff;
	font-size: 18px;
}

#carta2 {
	background-color: rgb(30, 30, 29);
	margin-top: 30px;
}

#carta2 h5 {
	color: #ffffff;
	font-size: 26px;
}

#carta2 p {
	color: #fff;
	font-size: 18px;
}

#carta3 {
	background-color: rgb(30, 30, 29);
	margin-top: 30px;
}

#carta3 h5 {
	color: #ffffff;
	font-size: 26px;
}

#carta3 p {
	color: #fff;
	font-size: 18px;
}

#hote1 {
	clip-path: circle();
}

/*Seccion 1 Hotel.html fin */

/*Seccion 2 Hotel.html inicio */

#sec2 {
	background: rgb(30, 30, 29);
}

/*Seccion 2 Hotel.html fin */