/*Seccion 3 Hotel.html inicio */

#footerh {
	background-color: #1e1c1c;
}

#footerh h5 {
	font-size: 38px;
	color: #ffca08;
}

#footerh p {
	font-size: 20px;
	color: #ba2424;
}

/*Seccion 3 Hotel.html fin */