/* Contacto.html inicio */

#contcontainer .card {
	border-radius: 20px !important;
	padding: 32px;
}

#contcontainer .card-img-top {
	border-radius: 20px !important;

}

.bg-section {
	background-color: rgb(30, 30, 29) !important;
}

#contcontainer h4 {
	font-size: 2.25rem !important;
}

#contcontainer p {
	font-size: 1.5rem !important;
}

#contcontainer .btn-primary {
	background-color: #ef4366 !important;
	border-color: #ef4366 !important;
	width: 100%;
	border-radius: 10px !important;
}

#contcontainer .form-control {
	height: 55px !important;
	border-radius: 7px !important;
	color: #111111;
	background-color: #e5e5e5 !important;
}

/* Contacto.html fin */